*,
*::before,
*::after {
    box-sizing: border-box;
}

.html {
    font-size: 16px;
}

.container {
    font-family: "Open Sans", sans-serif;
    max-width: 1200px;
    margin: 0 auto;
    background-color: #efeee7;
}

.bigToys {
    display: flex;
    background-color: #3f6146;
}

.cont {
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    min-height: 300px;
}

.title {
    font-size: 1.8rem;
    font-weight: 500;
    color: white;
}

.image {
    display: none;
}

.para {
    font-weight: 100;
}

.btn {
    display: none;
}

.headerButton {
    margin: 10px;
    border-radius: 50px;
    background-color: white;
    padding: 10px;
    color: black;
    font-size: 1.5rem;
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
}

@media (min-width: 700px) {
    .toys {
        padding-left: 5em;
        padding-right: 5em;;
    }

    .bigToys {
        min-height: 500px;
        padding: 4em;
        gap: 30px;
    }

    .cont {
        text-align: start;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 20px;
        padding-top: 20px;
    }

    .image {
        width: 50%;
        display: block;
        border-radius: 15px;
    }

    .title {
        font-size: 2.8rem;
        font-weight: 700;
    }

    .para {
        line-height: 1.8;
    }

    .btn {
        display: flex;
        justify-content: center;
        align-items: center;
        display: block;
    }
}