*,
*::before,
*::after {
    box-sizing: border-box;
}

.html {
    font-size: 16px;
}

.container {
    font-family: "Open Sans", sans-serif;
    margin: 0 auto;
}

.header {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: white;
    padding: 10px;
}

.headerButton {
    margin: 10px;
    font-size: 1.8rem;
    border-radius: 50px;
    background-color: #3f6146;
    padding: 10px;
    color: white;
    text-decoration: none;
}

.title {
    font-size: 1.8rem;
    font-weight: 500;
    margin: 10px;
}

.imageHeader {
    background-image: url('../images/headerImage.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center 20%;
    min-height: 400px;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width: 700px) and (max-width:999px) {
    .headerDescr {
        width: 70%;
        font-size: 1.4rem;
    }

    .title {
        font-size: 3rem;
    }

    .header {
        padding: 70px;
    }

    .imageHeader {
        background-size: cover;
        background-position: center 40%;
    }

    .titleButton {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media (min-width: 1000px) {
    .header {
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
        text-align: left;
        padding-top: 50px;
    }

    .btn {
        justify-content: flex-start;
    }

    .headerButton {
        text-align: center;
        width: 50%;
        font-size: 1.5rem;
    }

    .headerDescr {
        margin: 10px;
    }

    .title {
        font-size: 2.8rem;
        font-weight: 700;
    }

    .imageHeader {
        background-size: contain;
        flex: 1;
        min-height: 600px;
    }

    .titleButton {
        flex: 1;
        margin-left: 2.5em;
    }

    .container {
        max-width: 1200px;
    }
}