*,
*::before,
*::after {
    box-sizing: border-box;
}

.html {
    font-size: 16px;
}

.container {
    font-family: "Open Sans", sans-serif;
    max-width: 1200px;
    margin: 0 auto;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 50px;
}

.contBackground {
    background-color: white;
}

.cartCard {
    padding: 10px;
    display: flex;
    border: solid 0.1px #3f6146;
    border-radius: 10px;
}

.cartInfo {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    padding: 10px;
    font-size: 0.8rem;
}

.title,
.titleHeader {
    padding: 10px;
    font-size: 1.8rem;
    font-weight: 500;
}

.titleHeader{
    font-size: 2rem;
    padding-top: 15px;
}

.cartImage {
    width: 50%;
    height: auto;
}

.deleteIcon {
    height: 20px;
    width: 20px;
    cursor: pointer;
}

.quantity {
    display: flex;
    gap: 10px;
}

.quantites {
    display: flex;
    justify-content: space-between;
}

.increment,
.decrement {
    width: 20px;
    height: 20px;
    justify-content: center;
    display: flex;
    background-color: lightgrey;
    border-radius: 10px;
    cursor: pointer;
}


.checkoutCont {
    display: flex;
    flex-direction: column;
    border: solid 0.1px #3f6146;
    border-radius: 10px;
}

.titleAmount {
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 0.8rem;
}

.titleAmount p {
    margin: 5px 0;
}

.title {
    font-size: 1rem;
    font-weight: bold;
    margin: 5px 0;
}

.pay {
    margin: 10px;
    font-size: 1rem;
    border-radius: 50px;
    background-color: #3f6146;
    padding: 10px;
    color: white;
    display: flex;
    justify-content: center;
}

.cards {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.productBilling {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

@media (min-width: 700px) {
 
    .cards {
        width: 45%;
    }

    .increment,
    .decrement {
        width: 25px;
        height: 25px;
        border-radius: 12px;
    }

    .cartInfo {
        font-size: 0.8rem;
    }

    .container {
        padding-top: 40px;
        padding-left: 25px;
    }

    .productBilling {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .checkout {
        width: 35%;
        padding-right: 15px;
    }
}

@media (min-width: 1000px) {
    .cartInfo {
        font-size: 0.8rem;
    }
}