*,
*::before,
*::after {
    box-sizing: border-box;
}

.html {
    font-size: 16px;
}

.container {
    font-family: "Open Sans", sans-serif;
    max-width: 1200px;
    margin: 0 auto;
    background-color: #efeee7;
    padding-bottom: 50px;
}

.shop {
    display: grid;
    grid-template-columns: 45% 45%;
    gap: 20px;
    justify-content: center;
}

.contBackground {
    background-color: #efeee7;
}

.image1 {
    width: 100%;
    height: auto;
}

.toys {
    padding: 18px;
    font-size: 2rem;
    font-weight: 500;
    padding-left: 25px;
}

.toyCont {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 5px;
}

.toyCont:hover {
    border: solid 0.1px #3f6146;
}

.priceQuantity {
    font-size: 0.8rem;
    display: flex;
    justify-content: space-between;
}

.quantity {
    display: flex;
    gap: 3px;
}

.increment,
.decrement {
    width: 20px;
    height: 20px;
    justify-content: center;
    display: flex;
    background-color: lightgrey;
    border-radius: 10px;
    cursor: pointer;
}


@media (min-width: 700px) {
    .container {
        padding-top: 35px;
    }
}

@media (min-width: 1000px) {
    .shop {
        grid-template-columns: 30% 30% 30%
    }

}