*,
*::before,
*::after {
  box-sizing: border-box;
}

.html {
  font-size: 16px;
}

.container {
  font-family: "Open Sans", sans-serif;
  margin: 0 auto;
  background-color: #dce2cb;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #3f6146;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
  box-sizing: border-box;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.menu {
  width: 30px;
  height: 35px;
}

.menu:hover,
.closebtn:hover {
  cursor: pointer;
}

.contBackground {
    background-color: #dce2cb;
    height: 50px;
    text-decoration: underline;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }
}

@media (min-width: 700px) {
  .menu {
    display: none;
  }

  .sidenav {
    width: 100%;
    height: 50px;
    background-color: #dce2cb;
    display: flex;
    padding-top: 10px;
    max-width: 1200px;
    margin: 0 auto;
    position: static;
  }

  .sidenav a {
    color: #111;
    font-size: 18px;
  }

  .sidenav a:hover {
    cursor: pointer;
    color: #3f6146;
    font-size: 16px;
  }

  .closebtn {
    display: none !important;
  }

  .container {
    max-width: 1200px;
  }
}

@media (min-width: 1000px) {
  .sidenav a {
    font-size: 15px;
  }

}